.react-parallax {
    height: 100vh;

    img {
        object-fit: cover;
    }

    article {
        a {
            border: solid 1px #000;
            text-decoration: none;
            padding: 3px 5px;
            color: #000;
            border-radius: 5px;
        }
    }
}

#article {
    margin-inline: auto;
    max-width: 1080px;
    width: 100%;

    >h2 {
        margin-block: 20px 5px;
    }

    .index-list {
        margin: 0px 0px 0px 20px;
        line-height: 20px;
    }

    .chapter {
        margin-block: 20px;

        &:first-child {
            h3 {
                color: red;
            }
        }

        h3 {
            margin-bottom: 5px;


        }
    }
}

.destination {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 240%);
    max-width: 550px;
    max-height: 400px;
    padding: 30px 50px;
    background-color: #fff;
    border-radius: 20px;

    h2,
    a {
        padding-block: 20px;
    }
}