nav {
    transition: background-color 0.3s ease;
    padding-block: 20px;
    z-index: 100;
    width: 100%;
    position: fixed;
    display: flex;
    margin-bottom: 20px;

    .nav-options,
    span,
    button {
        margin-inline: auto;
    }


    .nav-options {
        display: flex;
        gap: 20px;

        a {
            padding: 2px 6px;
            background-color: white;
            color: brown;
            text-decoration: none;
        }
    }

    span {
        margin-left: 60px;
    }
}

.nav-colored {
    background: #fff;

}