@import '../../assets/scss/variables';

nav {
    transition: background-color 0.3s ease;
    padding-block: 20px;
    z-index: 100;
    width: 100vw;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
    place-items: center;

    // .nav-options,
    // span,
    // .userOptions {
    //     margin-inline: auto;
    // }

    // span {}

    .userOptions {
        display: flex;
        gap: 20px;

        .loginButton {
            text-decoration: none;
            outline-color: $Natural-Health-and-Fitness-Theme-Color-Palette-3-hex;
            padding: 6px 4px;
            color: $Natural-Health-and-Fitness-Theme-Color-Palette-3-hex;
        }

        .registerButton {
            border-radius: 5px;
            padding: 4px 6px;
            text-decoration: none;
            color: $Natural-Health-and-Fitness-Theme-Color-Palette-4-hex;
            background-color: $Natural-Health-and-Fitness-Theme-Color-Palette-3-hex;
        }
    }


    .nav-options {
        display: flex;
        gap: 20px;

        a {
            padding: 2px 6px;
            background-color: white;
            color: brown;
            text-decoration: none;
        }
    }
}

.nav-colored {
    background: #fff;
    opacity: 1;
}